.formStyle {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-left: 20%;
    text-align: center;
}
.formStyle label {
    font-size: 2rem;
    text-shadow: 1px 1px 2px black ;
    color: rgb(0, 39, 118);
    font-size: 2.5rem;
}
.formStyle input{
    padding: 10px;
    border-radius: 2rem;
}

.formStyle textarea {
    height: 10rem;
    border-radius: 10px;
}
.submitButton {
    margin-top: 2rem;
    margin-left: 40%;
    padding: 2rem;
    border-radius: 10px;
    background-color: rgb(0,161,222);
    width: 20%;
    font-size: 1.3rem;
    box-shadow: 1px 1px 2px black;
    padding: 15px 15px;
    font-size: 1.5rem;
    gap: 2px;
    animation:bouncy 5s infinite linear;
    position:relative;
}
@keyframes submitButton {
    0%{top:0em}
    40%{top:0em}
    43%{top:-0.9em}
    46%{top:0em}
    48%{top:-0.4em}
    50%{top:0em}
    100%{top:0em;}
    }

.submitButton:hover {
    cursor: pointer;
    background-color:rgb(94, 182, 228) ;
    color: white;
}

.bouncy{
    background-color: rgb(0, 161, 228);
    border-radius: 5px;
    border: 0px;
    box-shadow: 1px 1px 2px black;
    padding: 15px 15px;
    font-size: 1.5rem;
    gap: 2px;
    animation:bouncy 5s infinite linear;
    position:relative;
    }
    @keyframes bouncy {
    0%{top:0em}
    40%{top:0em}
    43%{top:-0.9em}
    46%{top:0em}
    48%{top:-0.4em}
    50%{top:0em}
    100%{top:0em;}
    }

.main{
    margin-top: 1;
}

.bouncy:hover{
    cursor: pointer;
    background-color:rgb(94, 182, 228) ;
    color: white;
}