.Main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50vw;
    margin-left: 25vw;
}
.Main input, button {
    width: 20vw;
}
.Main button {
    width: 20.4vw;
}